* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 18px;
    background-color: rgb(237, 235, 235);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: none;
    border-radius: 10px;
    padding: 0px 24px;
    padding-bottom: 24px;
    max-width: calc(100vw / 2);
    min-width: 450px;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    background-color: white;
    cursor: pointer;
}

.card h2 {
    margin: 24px 0px;
}

.email_cont, .phone_cont, .website_cont {
    display: flex;
    margin: 14px 0px;
}

.email, .phone, .website {
    margin-right: 8px;
}

.thin {
    font-weight: 300;
}

.display_id {
    display: none;
}


/*######################################*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0px;
}

.nav button a{
    text-decoration: none;
    padding: 4px 8px;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search input {
    font-weight: 600;
    padding: 6px;
    font-size: 16px;
}

.post {
    border: 2px solid black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 24px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
}

.title {
    border-bottom: 2px solid black;
    padding: 6px;
    font-size: 18px;
}

.post p {
    padding: 12px;
} 